#root {
  margin: 0px;
  height: 100vh;
}

.title {
  font-size: 2.5em;
}

.sub-title {
  font-size: 1.3em;
}

.right {
  font-size: 1.2em;
}

.card {
  border: 5px solid black;
  border-radius: 10px;
  padding: 8px;
  width: 280px;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0px 1em;
}

.name {
  text-align: center;
  font-size: 1.5em;
}