:root {
  --text-color: #000000;
  --accent-color: #ea6f10;
  --bg-color: #CF0A0A;
  --white: #EEEEEE;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--bg-color);
  margin: 0px;
  height: 100vh;
  font-family: "Bree Serif", serif;
}

header {
  background: var(--accent-color);
  height: 15%;
  display: flex;
  justify-content: space-between;
  padding: 1%;
}

main {
  padding: 16px;
  height: 85vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 1em;
}

img {
  width: 200px;
  object-fit: contain;
  border-radius: 10px;
}