:root {
  --text-color: #000000;
  --accent-color: #DC5F00;
  --bg-color: #CF0A0A;
  --white: #EEEEEE;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--bg-color);
  margin: 0px;
  height: 100vh;
}

header {
  background: var(--accent-color);
  height: 15%;
  display: flex;
  justify-content: space-between;
  padding: 1%;
}